<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scaffoldsAC -->
      <package
            uri="scaffolds"
            class="scaffolds.ScaffoldsPackage"
            genModel="model/scaffoldsAC.genmodel"/>
   </extension>

</plugin>
